.bar-footer {
  position: absolute;
  display: flex;
  bottom: 0;
  width: 100%;
  justify-content: center;
  align-items: center;
  background-color: #ec5650;
  margin: -1px;
  padding: 1px;
  height: 7%;
}

.bar-add-btn {
  background: inherit;
  position: absolute;
  color: white;
  font-size: 3.1rem;
  bottom: 0;
  border-radius: 50%;
  width: 8%;
  text-align: center;
}

.bar-add-btn:focus,
.bar-add-btn:hover {
  cursor: pointer;
}

.search-container {
  position: absolute;
  width: 100%;
  top: 0;
  background: #474444;
  height: 768px;
  margin: -1px;
  padding: 1px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.search-input {
  font-family: inherit;
  font-size: 1.2rem;
  width: 73%;
  padding: 0.5rem 1rem;
  outline: none;
  background: white url('../images/search.png') right no-repeat;
  background-size: contain;
  padding-left: 17px;
  box-shadow: #d4d4d4 1px 1px;
  border: 1px solid #e6e6e6;
}

.search-list-container {
  z-index: 1;
  padding: 1em 0;
  width: 90%;
  display: flex;
  flex-direction: column;
  background-color: white;
  align-items: center;
  height: 90%;
  margin: auto;
  border-radius: 1rem;
  overflow: auto;
}
